[Unit]
Description=Auto Reload Python Nginx/WSGI on change python code for dev

[Service]
ExecStart=/home/ec2-user/site-test/sitetestWebDevReloader.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
