[Unit]
Description = Create ramdisk for /mnt/tmp
After = network.target

[Service]
ExecStart = /root/make-tmp-ramdisk.sh

[Install]
WantedBy = multi-user.target
